@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


nav .menu-btn {
    display: none;
}

@media only screen and (max-width: 991px) {
    nav:hover {
        background-color: white;
    }
    a {
        color: black;
    }
    nav {
        background-color: white;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
        position: fixed;
        width: 100%;
        z-index: 3;
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: white;
    }
    nav ul a {
        display: block;
        padding: 20px;
        text-decoration: none;
    }

    nav #logo {
        float: right;
        display: block;
        padding: 10px 20px;
    }
    nav .menu {
        clear: both;
        display: grid;
        grid-template-columns: 1fr;
        margin-right: 7%;
        max-height: 0;
        transition: max-height .2s ease-out;
    }
    nav .menu-icon {
        padding: 28px 20px;
        position: relative;
        float: right;
        cursor: pointer;
    }
    nav .menu-icon .nav-icon {
        background:#333;
        display: block;
        height: 3px;
        width: 30px;
        position: relative;
        transition: background .2s ease-out;
    }
    nav .menu-icon .nav-icon::before {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all .2s ease-out;
        top: 8px;
    }
    nav .menu-icon .nav-icon::after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all .2s ease-out;
        top: -8px;
    }
    nav .menu-btn {
        display: none;
    }
    nav .menu-btn:checked ~ .menu {
        max-height: 300px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon {
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon::before {
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon::after {
        transform: rotate(45deg);
        top: 0;
    }
}
/* NAV SECTION */
nav {
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    justify-content: space-around;
    min-height: 5vh;
    width:100%;
    overflow-x: hidden;
    transition: 200ms ease-in-out;
}

.w3-top {
    z-index: 99;
}

#mySidebar {
    z-index: 100;
}

#navbarNav a {
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}
#brandimage{
    mix-blend-mode: unset;
}
#scrollNavbartext{
    mix-blend-mode: difference;
}
#scrollNavbartext:hover {
    border-bottom: 2px solid white;
}
/* #navbarNav a:hover{
    mix-blend-mode: difference;

    border-bottom: 2px solid white;
} */
.scrollNavbar {
    background-color: transparent;
}
.scrollNavbarblack {

    background-color: white;

}
.brandraised{
    z-index: 10;
    background-attachment: fixed;

}
.brandraised:hover{
    background-attachment: fixed;
}

.information{
    background: rgb(36, 34, 195);
    background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgb(20, 18, 188) 0%, rgb(154, 24, 215) 100%);
    color: white;
    height:auto;
}


/* Header */
/* Tablet */
@media only screen and (max-width: 1024px) and (min-width: 500px) {
    #coiTitle {font-size: 5vh; margin-top: -45%;}
    #coiTag {font-size: 2.5vh;}
}

/* Phone */
@media only screen and (max-width: 500px) {
    #coiTitle {font-size: 2.5vh; margin-top: -70%;}
    #coiTag {font-size: 1.5vh; margin-top: -10%;}
}

@media only screen and (min-width: 1024px) {
    #coiTitle {font-size: 10vh;}
    #coiTag {font-size: 5vh;}
}



/* HOME SECTION */
.header {
    justify-content: center;
    text-align: center;
    z-index: 10;
}

.homeContainer {
    background-color: black;
    max-width: 100%;
    overflow-x: visible;
    cursor: pointer;
}

#video {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    opacity: 0.5;
    
}

.headerContainer {
    width: auto;
    height: 60vh;
    padding-top: 45vh;
    position: absolute;
    color: white;
    place-content: center;
    resize: both;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* ABOUT SECTION */
.aboutContainer{
    color: white;
    background-color: black;
    text-align: center;
}
.aboutContainer h2{
    padding-top:10vh;
}

.aboutText{
    padding: 70px;
}

.aboutIcon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #752475;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


/* BWA SECTION */
.bwaInstaPic {
    margin-bottom: -8%;
}

.bwaIntroduction{
    padding: 5vw;
}

.bwaDesc{
    padding: 70px 0;
    font-family: 'Raleway', sans-serif;
}

.bwaContainer{
    color: white;
    background-color: black;
    justify-content: center;
}

.bwaHeaderText{
    text-align: center;
    padding: 20px;
    justify-content: center;
}

.socialMediaRow{
    text-align: center;
    padding: 10vw;
}

img{
    margin: auto;
}

.a{
    border-bottom: 2px solid white;
    padding: 10px;
    margin-right:75%;
}

.b{
    
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}


.card:hover {
    z-index: 1;
}



/* Tablet (iPad Air) */
@media only screen and (max-width: 1024px) and (min-width: 500px) {
    .goRPALogo {width: 250px; height:250px; margin-left:10%;}
    .goBWALogo {width: 250px; height:250px ; margin-left:-20%;}
    .goRPALogo {margin-top:32%;}
    .goBWALogo {margin-top:32%;}
    .bwaDesc {justify-content: center; margin-top: -35%;}
    .RPAImage {width: 225px; height: 225px; margin-top: 70%;}
    .RPAImage2 {width: 225px; height: 225px; margin-top: 70%;}
    .BWAImage {width: 225px; height: 225px; margin-top: 70%;}
    .BWAImage2 {width: 225px; height: 225px; margin-top: 70%;}
    .rpaBwaHeading {font-size: 5vh; text-align: center; margin-bottom: -30%;}
    .screwImage{width: 75px; height:75px; margin-left:-45%}
    .riskImage {width: 80px; height: 100px; margin-left:-45%}
    .pigImage {width: 60px; height: 100px;}
    .microsoftImage {width: 60px; height: 60px; margin-left: -45%;}
    .fileImage {width: 60px; height: 60px;}
    .gmailImage {width: 60px; height: 60px; margin-left: -45%}
    .b {justify-content: center;}
    .menu {float:right;}
    
}

/* Phone (iPhone 12 Pro) */
@media only screen and (max-width: 500px) {
    .goRPALogo {width: 200px; height:200px; margin-right: 5%;}
    .bwaDesc {justify-content: center; margin-left: 4%; text-align: center; margin-top: -35%;}
    #cardcontent {margin-bottom: 20px; width: auto; height: auto;}
    .RPALogoI {width:75px; height:75px; float: left;margin-left: 40%; margin-bottom: 10px;}
    .BWALogoI {width:75px; height:75px; float: left;margin-left: 40%; margin-bottom: 10px;}
    .VOP {text-align: center;}
    .RPAImage {display: none;}
    .RPAImage2 {display: none;}
    .BWAImage {display: none;}
    .BWAImage2 {display: none;}
    .rpaBwaHeading {font-size: 4vh; text-align: center; margin-bottom: -30%;}
    .goBWALogo {width: 200px; height:200px; margin-left: 7.5%;}
    .screwImage{width: 50px; height:50px; margin-bottom: 7%;}
    .riskImage{width: 80px; height: 100px;}
    .pigImage {width: 60px; height: 100px;}
    .microsoftImage {width: 40px; height: 40px;}
    .fileImage {width: 40px; height: 40px;}
    .gmailImage {width: 40px; height: 40px;}
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    .goRPALogo {width: 300px; height:300px ;}
    .RPAImage {width: 300px; height: 300px; float:left;}
    .RPAImage2 {width: 300px; height: 300px; float:right;}
    .BWAImage {width: 300px; height: 300px; float:left;}
    .BWAImage2 {width: 300px; height: 300px; float:right;}
    .goBWALogo {width: 300px; height:300px ; float:right}
    .bwaDesc {margin-top: -10%;}
    .screwImage{width: 100px; height: 100px}
    .riskImage {width: 80px; height: 100px; margin-left:20%}
    .pigImage {width: 60px; height: 100px}
    .microsoftImage {width: 80px; height: 80px;}
    .fileImage {width: 80px; height: 80px;}
    .gmailImage {width: 80px; height: 80px;}   
}

/* Phone (iPhone 12/13 Pro Max) */
@media only screen and (min-width: 428px) and (max-width: 428px) {
    .goRPALogo {width: 200px; height:200px; margin-right:9.5%;}
    .goBWALogo {width: 200px; height:200px; margin-left: 12.5%;}
    .bwaDesc { margin-right:2%; }
}

/* RPA */

.rpaInstaPic {
    margin-bottom: -8%;
}


.rpaBwaRow {
    justify-content: center;
    padding: 70px;
}

#rpaBwaHeading{
    padding: 10vh;
    text-align: center;
    font-size: 6vh;
    border-bottom: 2px solid white;
}

.courseSchedule{
    text-align: center;
    padding: 1vh;
}

.coursetiming{
    text-align: center;
    padding: 5vh;
}

#scheduleHeader{
    padding: 8vh;
    text-align: center;
    font-size: 6vh;
    border-bottom: 2px solid white;
}

#tableSpacing{
    padding-top:5vh;
}

#scheduleTable{
    justify-content: center;
    text-align: center;
    place-content: center;
    color: white;
    border: none;    
}

#timingHeader{
    padding: 8vh;
    text-align: center;
    font-size: 6vh;
    border-bottom: 2px solid white;

}
#timingTable{
    justify-content: center;
    text-align: center;
    place-content: center;
    color: white;
    border: none;

}
#tableInfo{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#purp{
    background-color: darkmagenta;
}
#blu{
    background-color: darkblue;
}
.links{
    justify-content: center;
}
#backbutton{
    justify-content: center;
    place-content: center;
    text-align: center;
    padding-top: 10vh;
    cursor: pointer;
}
#link{
    cursor: pointer;
    text-decoration: none;
    justify-content: space-evenly;
    padding:1vh;

}
#internalLinks a{

    text-decoration: none;

}
#internalLinks a h5 svg{

    text-decoration: none;

}




#apply{
    width:50%;
    height:100%;
    border-radius: 100%;
    font-size: 3vh;
}
.applybutton1 {
    margin-bottom: 15%;
}

@keyframes glowing{
    0% { box-shadow: 0 0 3px 0px #001bae; }
    50% { box-shadow: 0 0 6px 2px #001bae; }
    100% { box-shadow: 0 0 3px 0px #001bae;}
}



.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #0db863;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
 
  #card-title {
    color: black;
  }


  
