
.information{
    background: rgb(36, 34, 195);
    background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(36, 34, 195, 1) 0%, rgba(187, 39, 255, 1) 100%);
    color: white;
    height:auto;
}

/* NAV SECTION */
#navContainer {
    border-bottom: 2px solid white;
}
#navbarNav {
    padding-left: 3vw;
    padding-right: 3vw;
}
#navbarNav li a {
    color: white;
    mix-blend-mode: difference;
    padding-left: 20px;
    text-align: center;
    justify-content: center;
}
.scrollNavbar {
    background-color: transparent;
}
/* HOME SECTION */
.header {
    justify-content: center;
    text-align: center;
    z-index: 10;
}
.homeContainer {
    background-color: black;
    max-width: 100%;
    overflow-x: visible;
}
#video {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    opacity: 0.5;
}

.headerContainer {
    width: auto;
    height: 60vh;
    padding-top: 45vh;
    position: absolute;
    color: white;
    place-content: center;
    resize: both;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


/* ABOUT SECTION */
.aboutContainer{
    color: white;
    background-color: black;
    text-align: center;
}
.aboutContainer h2{
    padding-top:10vh;
}
.aboutText{
    padding: 70px;
}
.aboutIcon{
    display: inline-block;
    border-radius: 70%;
    background: #804580;
    padding: 0.5em 0.7em;
    width:auto;
    height:auto;
    font-size:25px;
}


/* BWA SECTION */
.bwaIntroduction{
    padding: 10vw;
}

.bwaDesc{
    padding: 70px 0;
}

.bwaContainer{
    color: white;
    background-color: black;
    justify-content: center;
}

.bwaHeaderText{
    text-align: center;
    padding: 20px;
    justify-content: center;
}

.socialMediaRow{
    text-align: center;
    padding: 10vw;
}

img{
    margin: auto;
}

/* RPA */
.rpaBwaRow {
    justify-content: center;
    padding: 100px;
   
}

#rpaBwaHeading{
    padding: 10vh;
    text-align: center;
    font-size: 6vh;
    border-bottom: 2px solid white;
}


.courseSchedule{
    text-align: center;
    padding: 5vh;

}
.coursetiming{
    text-align: center;
    padding: 5vh;

}
#scheduleHeader{
    padding: 10vh;
    text-align: center;
    font-size: 6vh;
    border-top: 2px solid white ;
    border-bottom: 2px solid white;
}
#tableSpacing{
    padding-top:5vh;
}
#scheduleTable{
    justify-content: center;
    text-align: center;
    place-content: center;
    color: white;
    border: none;
    
}
#timingHeader{
    padding: 10vh;
    text-align: center;
    font-size: 6vh;
    border-top: 2px solid white ;
    border-bottom: 2px solid white;

}
#timingTable{
    justify-content: center;
    text-align: center;
    place-content: center;
    color: white;
    border: none;

}
#purp{
    background-color: #804580;
}
#blu{
    background-color: darkblue;
}
.links{
    justify-content: center;
}
#link{
    padding: 1vh;
}
#backbutton{
    justify-content: center;
    place-content: center;
    text-align: center;
    padding-top: 10vh;
}
#cardcontent{
    color:black;
}
#apply{
    width:50%;
    height:100%;
    border-radius: 100%;
    font-size: 3vh;
}







